
@if (books.length === 0) {
  <p>
    Leider keine Bücher vorhanden
  </p>
}
@else  {
  <p>
    {{ books.length}} Bücher vorhanden
  </p>
}

<p>
  <button (click)="toggleCover()">Cover {{showCover ? 'aus' : 'ein' }}blenden</button>
</p>

<p>
  <input type="text" [(ngModel)]="filterValue" placeholder="Filter">
</p>

Bücherliste gefiltert nach '{{filterValue}}':
<table border="1">
  <tr>
    <td>ISBN</td>
    <td>Titel</td>
    <td>Preis</td>
    <td>Bewertung</td>
    <td>Cover</td>
  </tr>
@for (book of (books | bookFilter:filterValue); track book.isbn; let i = $index) {
    <tr>
    <td>{{i+1}}: {{book.isbn}}</td>
    <td>{{book.title}}</td>
    <td [ngClass]="{'on-discount': book.price < 20}">
      {{book.price | currency:'EUR':'symbol':'1.2-2'}}
    </td>
    <td>
      <rating
        [id]="book.isbn"
        [stars]="book.rating"
        (plusWasClicked)="rateUp($event)"
        (minusWasClicked)="rateDown($event)"
      />
    </td>
    <td>
      @if (showCover) {
        <img [src]="book.coverUrl" [style.width.px]="breite" alt="Cover">
      }
    </td>
  </tr>
}
</table>



